
@font-face {
    font-family: 'Metropolis';
    src: url('font/Metropolis-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('font/Metropolis-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Metropolis, Arial, sans-serif;
    font-size: 14px;
    margin: 40px;
    background-color: #E6E8F2;
    line-height: 1.5;
}

input, button, select {
    height: 35px;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: none;
    font-size: 14px;
    border: 1px solid #0114B3;
    font-weight: 500;
    background: rgba(230, 232, 242, 0.5);
}

main {
    margin-left: 300px;
}

#sidebar {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    max-width: 300px;
    background: #ffffff;
    overflow-y: hidden;
}

#header_logo {
    background: #0114B3;
    padding: 10px;
    padding-bottom: 30px !important;
    color: #efefef;
    height: 100px;
}

#customise {
    padding: 0 20px;
    overflow-y: auto;
    height: calc(100% - 180px);
}

form {
    margin-bottom: 0 !important;
}

#foot_button {
    width: 280px;
    height: 40px;
    text-align: center;
    padding: 5px 10px;
    background: #efefef;
    position: absolute;
    justify-content: center;
    bottom: 0;
    color: #000000;
}

.form_1 {
    margin-bottom: 10px;
}

.form_2 {
    display: grid;
    grid-template-columns: 60% 35%;
    grid-gap: 10px;
    margin-bottom: 10px;
}

#render_area > div {
    margin-bottom: 20px;
}

button {
    cursor: pointer;
}

.button_primary {
    background-color: #0114B3;
    height: 100px !important;
    margin-top: 0;
    color: #ffffff;
}

.button_primary:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.button_secondary {
    background-color: transparent;
    border: 1px solid #0114B3;
    color: #0114B3;
    width: 200px;
}

label {
    font-weight: 600;

}

.help-text {
    font-size: 0.8rem;
    color: #444444;
}

footer {
    z-index: 1;
    position: fixed;
    bottom: 40px;
    right: 40px;
}
